*
!*/
!*.y
!*.lex
!*.c
!*.h
!Makefile
!doc/*.note
!.paths*
*.a
libddbg/include/*
libparam/libparam.tab.h
libparam/libparam.tab.c
libparam/lex.libparam.c
src/modules/*.c
src/modules/*.h
memsmodel/modules/*.c
memsmodel/modules/*.h
libparam/include/*
diskmodel/modules/*.c
diskmodel/modules/*.h
